.header {
  display:flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  padding: 0px 83px;
  width :200px
}

.nav-items{
  padding: 0px 20px;
}

.nav-items >ul{
  font-size: 24px;
  display:flex;
  list-style-type: none;
}
.nav-items >ul>li{
  padding:10px;
  margin:10px
}


.res-card {
  padding : 5px;
  width:200px;
  height:100%;
  background-color: #f0f0f0;
  margin:5px
}
.res-card:hover {
  border: 1px solid black;
  cursor:pointer
}
.search {
  padding:10px
}
.res-logo {
  width:190px
}
.res-container{
  display:flex;
  flex-wrap: wrap;
}

.filter-btn {
  
  cursor:pointer;
}
.shimmer-container {
  display :flex;
  flex-wrap: wrap;

}
.shimmer-card {
  margin : 20px;
  width: 200px;
  height:400px;
  background-color: #f0f0f0;
}
.login {
  padding: 0 20px;
  cursor:pointer
}
.filter {
  margin: 10px;
  display:flex
}

.user-card {
  padding: 10px;
  border: 1px solid black
}
.menu {
  text-align: center;
}

.res-name {
    font-size: 20px;   
}

.cuisines{
  font-size: 15px;
  font-weight: 900;
}

.menu {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.accordian-title {
  cursor: pointer
}